* {
  margin: 0;
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.btn-close {
  --bs-btn-close-focus-shadow: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.img-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-article-modal-block {
  display: flex;
  margin-bottom: 20px;
}

.quill-editor {
  max-width: 80%;
  margin-top: 50px;
}